 <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>

  <%= f.inputs "Location" do %>
    <%= f.input :address, :as => :geocomplete  %>
    <li class="input optional" id="map_canvas_container">
      <label class=" label">Location preview</label>
      <div class="map_canvas"/>
    </li>
    <%= f.input :latitude, input_html: {data: {geo: "lat"}} %>
    <%= f.input :longitude, input_html: {data: {geo: "lng"}} %>
  <% end %>